body {
    text-align: center;
    background-color: #f4f060;
    font-family: 'Lato', sans-serif;
}

h2 {
    text-align: left;
    font-style: italic;
}

.rules {
    position: absolute;
    left: 5%;
    top: 30%;
    text-align: left;
    font-size: 15px;
}

.button {
    display: block;
    width: 200px;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 5px;
    color: white;
    background-color: #fc06af;
    font-weight: bold;
    font-size: 150%;
    text-decoration: none;
}